{% extends 'base.html.twig' %}

{% block body %}
    {% if error %}
        <div class="container">
            <p class="error">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
        </div>
    {% endif %}

    <form action="{{ path('app_login') }}" method="post">
        <div class="container">
            <div class="flex col field">
                <label class="required label" for="username">Nazwa użytkownika</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}">
            </div>


            <div class="flex col field">
                <label class="required label" for="password">Hasło:</label>
                <input type="password" id="password" name="_password">
            </div>
            <input type="hidden" name="_target_path" value="/list">

            <button type="submit" class="button">
                Zaloguj
            </button>
        </div>
    </form>
{% endblock %}
